@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="password"]:focus ~ .input-text,
input[type="password"]:not(:placeholder-shown) ~ .input-text{
  @apply text-fuchsia-600 transform -translate-y-6 -translate-x-2 scale-75;
}

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-fuchsia-600  transform -translate-y-6 -translate-x-2 scale-75;
}
input[type="file"]:focus ~ .input-file,
input[type="file"]:not(:placeholder-shown) ~ .input-file{
  @apply text-gray-500  transform -translate-y-8 -translate-x-2 scale-75;
}
input[type="date"]:focus ~ .input-text,
input[type="date"]:not(:placeholder-shown) ~ .input-text{
  @apply text-gray-500  transform -translate-y-8 -translate-x-2 scale-75;
}
select[type="text"]:focus ~ .input-text,
select[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-gray-500  transform -translate-y-8 -translate-x-2 scale-75;
}
